
#section {
    width: 1080px;
    height: 1920px;
    background-color: #ffffff;
    border:3px solid #616161;
    margin-left: 35%;
    margin-top: 5%;
    padding-top:20px;
    text-align:center;
}

#pic{
    width:900px;
    height:700px;
    margin-left:90px;
    margin-top:140px;
    margin-bottom:200px;
    background-color: #ffffff;
    border:1px solid #616161;
}

#height{
    width:900px;
    height:200px;
    margin-left:90px;
    margin-bottom:20px;
    background-color: #ffffff;
}
.font{
    width:200px;
    height:200px;
    font-family:한컴돋움;
    color:#212121;
    line-height:60px;
    text-align:left;
    margin-left:20px;
    float:left;
    font-size:50px;
}

#h_input{
    width: 550px;
    height:60px;
    border-bottom:1px solid #000000;
    float:left;
}

#h_input input{
    width:500px;
    height:55px;
    text-align:center;
    font-size:50px;
    border:0px;
    font-family:한컴돋움;
    color:#000000;
}

#cm{
    width:30px;
    height:60px;
    float:left;
    line-height:65px;
    margin-left:60px;
    font-size:50px;
}

#weight{
    width:900px;
    height:200px;
    margin-left:90px;
    margin-bottom:100px;
    background-color:#ffffff;
    text-align:left;
}

#w_input{
    width: 550px;
    height:60px;
    border-bottom:1px solid #000000;
    float:left;
}

#w_input input{
    width:550px;
    height:55px;
    text-align:center;
    font-size:50px;
    border:0px;
    font-family:한컴돋움;
    color:#000000;
}

#kg{
    width:30px;
    height:60px;
    float:left;
    line-height:65px;
    margin-left:60px;
    font-size:50px;
}

#register{
    width:900px;
    height:200px;
    margin-left:90px;
    margin-bottom:20px;
    background-color:#66CCFF;
    line-height:60px;
    font-size:50px;
}