#section {
    width: 1080px;
    height: 1920px;
    background-color: #ffffff;
    border:3px solid #616161;
    margin-left: 35%;
    margin-top: 5%;
    text-align:center;
}


#day{
    width:1080px;
    height:200px;
    margin-top:50px;
    background-color:#ffffff;
    font-size:100px;
    line-height:200px;
    color:#212121;
    font-family:한컴돋움;
}

#box{
    width:83%;
    height:1300px;
    margin-left:90px;
    margin-top:10px;
    background-color:#212121;
}

#percent{
    width:100%;
    height:200px;
    background-color:#66CCFF;
}

#num{
    width:150px;
    height:50px;
    background-color:#66CCFF;
    margin-top:80px;
    margin-left:600px;
    float:left;
    font-size:30px;
    color:#ffffff;
}

#star{
    width:70px;
    height:70px;
    background-color:#66CCFF;
    margin-left:30px;
    margin-top:30px;
    float:left;
}

#gagy{
    clear:both;
    width:800px;
    height:30px;
    margin-left:50px;
    background-color:#ffffff;
    border:1px solid #000000;
    border-radius: 30px 30px 30px 30px;
    margin-top:10px;
}
#gagy1{
    width:133px;
    height:30px;
    margin-left:0px;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
    float:left;
}
#gagy2{
    width:133px;
    height:30px;

    float:left;
}
#gagy3{
    width:133px;
    height:30px;
    float:left;
}
#gagy4{
    width:133px;
    height:30px;
    float:left;
}
#gagy5{
    width:133px;
    height:30px;
    float:left;
}
#gagy6{
    width:133px;
    height:30px;
    float:left;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
}
#list{
    width:100%;
    height:1100px;
    background-color:#ffffff;
}

#one{
    width:900px;
    height:180px;
    background-color:#ffffff;
}

#con1{
    width:87.5%;
    height:180px;
    float:left;
    border:1px solid #000000;
}
#chk1{
    width:10%;
    height:180px;
    float:left;
    background-color:#f5f8fa;
    border:1px solid #000000;
}

.chk_img{
    margin-top:50px;
}
#two{
    width:900px;
    height:180px;
    background-color:#ffffff;
}

#con2{
    width:87.5%;
    height:180px;
    float:left;
    border:1px solid #000000;
}
#chk2{
    width:10%;
    height:180px;
    float:left;
    background-color:#f5f8fa;
    border:1px solid #000000;
}

#three{
    width:900px;
    height:180px;
    background-color:#ffffff;
}

#con3{
    width:87.5%;
    height:180px;
    float:left;
    border:1px solid #000000;
}
#chk3{
    width:10%;
    height:180px;
    float:left;
    background-color:#f5f8fa;
    border:1px solid #000000;
}

#four{
    width:900px;
    height:180px;
    background-color:#ffffff;
}

#con4{
    width:87.5%;
    height:180px;
    float:left;
    border:1px solid #000000;
}
#chk4{
    width:10%;
    height:180px;
    float:left;
    background-color:#f5f8fa;
    border:1px solid #000000;
}

#five{
    width:900px;
    height:180px;
    background-color:#ffffff;
}

#con5{
    width:87.5%;
    height:180px;
    float:left;
    border:1px solid #000000;
}
#chk5{
    width:10%;
    height:180px;
    float:left;
    background-color:#f5f8fa;
    border:1px solid #000000;
}

#six{
    width:900px;
    height:180px;
    background-color:#ffffff;
}

#con6{
    width:87.5%;
    height:180px;
    float:left;
    border:1px solid #000000;
}
#chk6{
    width:10%;
    height:180px;
    float:left;
    background-color:#f5f8fa;
    border:1px solid #000000;
}
#button{
    width:900px;
    height:200px;
    margin-left:90px;
    margin-top:50px;
    background-color:#ffffff;
}

#plus{
    width: 400px;
    height:200px;
    margin-left:0px;
    background-color:#ffffff;
    float:left;
}

#weight{
    width: 400px;
    height:200px;
    margin-left:100px;
    background-color:#ffffff;
    float:left;
}