<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="detail.css">
</head>
<body>

    <div id="section">

        <div id="content">
            <div id="sub">
                제목
            </div>
            <div class="con">

            </div>
            <div class="con">

            </div>
            <div class="con">

            </div>
            <div class="con">

            </div>
            <div class="con">

            </div>
            <div class="con">

            </div>
            <div class="con">

            </div>
        </div>
        <div id="button">
            <div id="button1">

            </div>
            <div id="button2">

            </div>
        </div>
    </div>
</body>
</html>