<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <link rel="stylesheet" type="text/html" href="hello_javascript.css" />
    <meta name="viewport" content=""width="device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
</head>
<body>
<script type="text/javascript" src="hello_javascript.js"></script>
    <div id="section">
        <div id="pic">
            <img src="">
        </div>

        <div id="login">
            <form name="sub" method="post">
            <div id="id_pw">
                <div id="log_id">
                    <input type="text" name="id">
                </div>
                <div id="log_pw">
                    <input type="password" name="pw">
                </div>
            </div>
               <div style="cursor:pointer">
                     <input type="submit" id="log_button" value="">
               </div>
            </form>
        </div>

        <div id="but">
            <div style="cursor:pointer" >
                <img src="Join_Button.png" id="register">
            </div>
            <div style="cursor:pointer">
                <img src="PW_Button.png" id="pw_find">
            </div>
        </div>
    </div>
</body>
</html>
