<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="list.css">
</head>
<body>

<div id="section">
    <div id="day">
        <div id="year">

        </div>
        <div class="font">
            년
        </div>
        <div id="month">

        </div>
        <div class="font">
            월
        </div>
        <div id="date">

        </div>
        <div class="font">
            일
        </div>
    </div>
    <div id="con">
        <div id="con1" class="con">

        </div>
        <div id="con2" class="con">

        </div>
        <div id="con3" class="con">

        </div>
        <div id="con4" class="con">

        </div>
        <div id="con5" class="con">

        </div>
        <div id="con6" class="con">

        </div>
        <div id="con7" class="con">

        </div>
        <div id="con8" class="con">

        </div>
    </div>
    <div id="button">
        <div id="button1">

        </div>
        <div id="button2">

        </div>
    </div>
</div>

</body>
</html>