<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="add.css">
    <script type="text/javascript" src="add.js"></script>
</head>
<body>

<div id="section">
    <div id="choice">
        <div id="normal">
            <img src="CalPlus_normalbutton.png">
        </div>
        <div id="work">
            <img src="CalPlus_exercisebutton.png">
        </div>
    </div>
    <div id="subj">
        <div class="title">제목</div>
        <div id="line">
            <input type="text">
        </div>
        <div id="box">

        </div>
    </div>
    <div id="day">
        <div id="line2">
            <div class="title">기간</div>
            <div id="start">
                <input type="text">
            </div>
            <div id="wave">
             ▶
            </div>
            <div id="last">
                <input type="text">
            </div>
        </div>
    </div>
    <div id="alram">
        <div class="title">알람</div>
        <div id="logo">
            <img src="CalPlus_alarmbutton.png" onclick="alram_click()">
        </div>
        <div id="time">

        </div>
    </div>
    <div id="register">
        <img src="CalPlus_registerbutton.png" onclick="location.href='daliy.html'">
    </div>
</div>
</body>
</html>