<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="body.css">
</head>
<body>

<div id="section">
    <div id="header">
        <div id="bubble">
            <div id="height">
                <div class="font">
                      키
                </div>
            </div>
            <div id="weight">
                <div class="font">
                    몸무게
                 </div>
            </div>
        </div>
    </div>
    <div id="body">
    </div>
</div>

</body>
</html>