<html>
<head>
    <meta charset="UTF-8">
    <title>CalDetail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="css/view.css">
    <style>
        .memo_list{
            width:80vw !important;
            margin-top:1vh;
            border:0px;
            background-color:inherit;
        }
    </style>
</head>
<body>
    <div class="list" style="height:13%">
    </div>
    <div class="view pic" style="background-image:url('./img/CalDetail_memo.png');">
        <div class="list"><p style="font-size:8vw;">제목</p></div>
        <div>
            <input type="text" class="list font" style="margin-top:5%; width:80vw; border:0px; background-color:inherit;">
        </div>
        <div>
            <input type="text" class="list font memo_list">
        </div>
        <div>
            <input type="text" class="list font memo_list">
        </div>
        <div>
            <input type="text" class="list font memo_list">
        </div>
        <div>
            <input type="text" class="list font memo_list">
        </div>
        <div>
            <input type="text" class="list font memo_list">
        </div>
    </div>
    <div class="box">
        <input type="button" class="button pic" style="background-image:url('./img/CalDetail_modifybutton.png'); width:30%;">
        <input type="button" class="button pic" style="background-image:url('./img/CalDetail_deletebutton.png'); width:30%; margin-left:33%;">
    </div>
</body>
</html>