<html>
<head>
    <meta charset="UTF-8">
    <title>CalListDetail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="css/view.css">
</head>
<body>
    <div class="list" style="height:13%">
        <p style="margin-left:8%">2016. 01. 01</p>
    </div>
    <div class="list table" style="border-top-left-radius:30px; border-top-right-radius:30px;"></div>
    <div class="list table"></div>
    <div class="list table"></div>
    <div class="list table"></div>
    <div class="list table"></div>
    <div class="list table" style="border-bottom-left-radius:30px; border-bottom-right-radius:30px;"></div>
    <div class="box">
        <input type="button" class="button pic" style="background-image:url('./img/CalListDetail_plusbutton.png'); width:30%;">
        <input type="button" class="button pic" style="background-image:url('./img/CalListDetail_calendarbutton.png'); width:30%; margin-left:33%;">
    </div>
</body>
</html>