<html>

<head>
    <meta charset="UTF-8">
    <title>CalPlus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/> 
    <link rel="stylesheet" type="text/css" href="./css/view.css">
</head>
    
<body class="pic" style="background-image:url('./img/CalPlus_list.png');">
    <div class="box"> 
        <input type="button" class="button pic" style="background-image:url('./img/CalPlus_normalbutton_off.png'); height:15vh;">
        <input type="button" class="button pic" style="background-image:url('./img/CalPlus_exercisebutton_off.png'); height:15vh; margin-left:10%;">
    </div>
    <div class="box">
        <p class="font background_font">제목</p>
        <input type="text" class="bottom_border font" style="width:70%;">
    </div>
    <div class="box">
        <p class="font background_font">기간</p>
        <input type="text" class="bottom_border font" style="width:28%; float:left;">
        <p class="font background_font" style="float:left;">▶</p>
        <input type="text" class="bottom_border font" style="width:28%; float:left; margin-left:5%;">
    </div>
     <div class="box">
        <p class="font background_font">알람</p>
        <img src="./img/CalPlus_alarmbutton_off.png" style="width:30%; height:15vh; margin-left:5vw; float:left;">
    </div>
     <div class="box">
         <input type="submit" class="pic" style="background-image:url('./img/CalPlus_registerbutton.png'); width:80%; height:60%; margin: 7% 0% 0% 10%" value="">
    </div>
</body>