<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="change.css">
</head>
<body>

    <div id="section">
        <div id="pic">
            그림
        </div>
        <div id="height">
            <div class="font">
                키 :
            </div>
            <div id="h_input">
                <input type="text">
            </div>
            <div id="cm">
                cm
            </div>
        </div>
        <div id="weight">
            <div class="font">
                몸무게 :
            </div>
            <div id="w_input">
                <input type="text">
            </div>
            <div id="kg">
                kg
            </div>
        </div>
        <div id="register" onclick="location.href='daliy.html'">
            등 록
        </div>
    </div>

</body>
</html>