<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8">
<title>daily</title>
<link rel="stylesheet" type="text/css" href="daily.css">
<script type="text/javascript" src="daily.js"></script>
</head>
<body>
	<div id="section">
		<div id="day"></div>
		<div id="box">
			<div id="percent">
				<div id="num"></div>
				<div id="star_place"></div>
				<div id="gagy">
					<div id="gagy1"></div>
					<div id="gagy2"></div>
					<div id="gagy3"></div>
					<div id="gagy4"></div>
					<div id="gagy5"></div>
					<div id="gagy6"></div>
				</div>
			</div>
			<div id="list">
				<div id="one">
					<div id="con1" onclick="location.href='detail.html'" ng-controller="myController">
						<p>{{user}}</p>
					</div>
					<div id="chk1" onclick="chk1_Click()"></div>
				</div>
				<div id="two">
					<div id="con2" onclick="location.href='detail.html'"></div>
					<div id="chk2" onclick="chk2_Click()"></div>
				</div>
				<div id="three">
					<div id="con3" onclick="location.href='detail.html'"></div>
					<div id="chk3" onclick="chk3_Click()"></div>
				</div>
				<div id="four">
					<div id="con4" onclick="location.href='detail.html'"></div>
					<div id="chk4" onclick="chk4_Click()"></div>
				</div>
				<div id="five">
					<div id="con5" onclick="location.href='detail.html'"></div>
					<div id="chk5" onclick="chk5_Click()"></div>
				</div>
				<div id="six">
					<div id="con6" onclick="location.href='detail.html'"></div>
					<div id="chk6" onclick="chk6_Click()"></div>
				</div>
			</div>
		</div>
		<div id="button">
			<div id="plus">
				<img src="MAIN_2_plusbutton.png" onclick="location.href='add.html'">
			</div>
			<div id="weight">
				<img src="MAIN_2_weightbutton.png"
					onclick="location.href='change.html'">
			</div>
		</div>
	</div>
	<script src="https://code.angularjs.org/1.2.9/angular.min.js"></script>
	<script src="my_app.js"></script>
</body>
</html>
