<html>
<head>
    <meta charset="UTF-8">
    <title>Exercise</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="css/view.css">
</head>
<body>
    <div class="box">
        <input type="button" class="button pic" style="background-image:url('./img/Exercise_armbutton_n.png'); width:30%;">
        <input type="button" class="button pic" style="background-image:url('./img/Exercise_upbody_n.png'); width:30%; margin-left:33%;">
    </div>
    <div class="view table"></div>
     <div class="box">
        <input type="button" class="button pic" style="background-image:url('./img/Exercise_abdomen_n.png'); width:30%;">
        <input type="button" class="button pic" style="background-image:url('./img/Exercise_downbody_n.png'); width:30%; margin-left:33%;">
    </div>
</body>