<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <link rel="stylesheet" type="text/html" href="hello_javascript.css" />

</head>
<body>
<script type="text/javascript" src="hello_javascript.js"></script>
    <div id="section">
        <div id="pic">
            <img src="">
        </div>
<!--실험용-->
        <div id="login">
            <form name="sub" action="" method="post">
            <div id="id_pw">
                <div id="log_id">
                    <input type="text" name="id">
                </div>
                <div id="log_pw">
                    <input type="password" name="pw">
                </div>
            </div>
                <div style="cursor:pointer">
                     <input type="submit" value="" id="log_button">
               </div>	
            </form>
        </div>

        <div id="but">
            <div style="cursor:pointer" >
                <img src="Join_Button.png" id="register">
            </div>
            <div style="cursor:pointer">
                <img src="PW_Button.png" id="pw_find">
            </div>
        </div>
    </div>
    <hr><%= msg %>
</body>
</html>
