<html>
<head>
    <meta charset="UTF-8">
    <title>ModifyWeight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="css/view.css">
</head>
<body class="pic" style="background-image:url('./img/ModifyWeight_list.png');">
    <div class="box"></div><div class="box"></div>
    <div class="box">
        <p class="font background_font" style="margin:0vw 0vw 0vw 5vw; padding-top:3%;">키</p>
        <input type="text" class="bottom_border font" style="width:60%; float:left">
        <p class="font background_font" style="float:left">cm</p>
    </div>
    <div class="box">
        <p class="font background_font" style="margin:0vw 0vw 0vw 5vw; padding-top:3%;">몸무게</p>
        <input type="text" class="bottom_border font" style="width:60%; float:left">
        <p class="font background_font" style="float:left">kg</p>
    </div>
    <div class="box">
        <input type="submit" class="pic" style="background-image:url('./img/ModifyWeight_registerbutton.png'); width:80%; height:60%; margin: 7% 0% 0% 10%" value="">
    </div>
</body>
